body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background-color: #121212;
  color: #fafafa;

}
a {
  color: #fafafa;
  text-decoration: none;
}

ul {
  list-style: none;
}

label {
  display: flex;
  flex-direction: column;
  text-align: left;
}

input {
  background-color: #3b3b3b;
  color: #AAA;
  border: 1px solid #555;
  border-radius: 2px;
  padding: 10px 8px;
  outline: none;
  margin-bottom: .6em;
}

input:disabled {
  cursor: not-allowed;
  background-color: #000;
}

.hide {
  display: none;
}
input::placeholder {
  color: #AAA
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
