<div id="navbar-container">
    <ul>
        <li><a href="#">Página Inicial</a></li>
        <li><a href="#">Estoque</a></li>
        <li><a href="#">Em falta</a></li>
        <li><a href="#">Lista do Mês</a></li>
        <li><a href="http://localhost:3000/Produto/index">Cadastrar Produto</a></li>
        <li><a href="http://localhost:3000/login/index">Login</a></li>
        <li><a href="#">Sobre</a></li>
    </ul>
    <link rel="stylesheet" href="/assets/css/nav.css">
</div>
