<%- include('includes/head') %>
<%- include('includes/nav') %>

<section id="content">
    <div id = "container">
        <div id = "bloco" >
            <p>Nome:</p>
            <p>Em estoque:</p>
            <p>Preço:</p>
        </div>
        <div id = "bloco" ></div>
        <div id = "bloco" ></div>
        <div id = "bloco" ></div>
        <div id = "bloco" ></div>
        <div id = "bloco" ></div>
        <div id = "bloco" ></div>
        <div id = "bloco" ></div>
        <div id = "bloco" ></div>
        <div id = "bloco" ></div>
        <div id = "bloco" ></div>
        <div id = "bloco" ></div>
        <div id = "bloco" ></div>
        <div id = "bloco" ></div>
        <div id = "bloco" ></div>
        <div id = "bloco" ></div>
        <div id = "bloco" ></div>

    </div>
</section>
<link rel="stylesheet" href="/assets/css/index.css">
<%- include('includes/rodape') %>
